.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 2rem; */
}

.listItem{
  border-radius: 5px;
  padding: 0 5rem 2rem 5rem;
  border-bottom: 1px solid #cacaca;
  
}
.listItem:hover{
  background: black;
  color: white;
}