.container{
  border-bottom: 1px solid #cacaca;
  margin-top: 5rem;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img{
  margin-bottom: 1rem;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.p{
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.button{
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: black;
  padding: 15px 25px;
  border: none;
  border-radius: 50px;
  transition: 1s;
}
.button:hover{
  color: black;
  background: white;
}