.carousel{
  margin-top: 5rem;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cacaca;
}

.arrowLeft, .arrowRight{
  height: 20px;
}
.h2{
  margin: 0;
}
.h3{
  font-size: .8rem;
  margin: .5rem 0 .5rem 0;
}

.left{
  width:70%;
}

.info{
  display: flex;
  flex-direction: column;
}

.play{
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 15px;
  color: white;
  background: black;
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 20px;
  transition: 1s;
}

.play:hover{
  background: white;
  color: black;
}
.playIcon{
  height: 20px;
  filter: invert(1);
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
  .carousel{
    flex-direction: column;
    
  }
  .info{
    display: flex;
    align-items: center;
  }

  .imageContainer{
    order: 1;
    margin-bottom: 1rem;
  }
  .left{
    order: 2;
  }

  .h2{
    font-size: 1.5rem;
  }
  .arrowRight, .arrowLeft{
    display: none;
    
  }
  
}